{% extends "base.html" %}

{% block main %}
<div class="card mb-4">
<h2>List of uploaded magnets not yet resolved</h2>
<div class="table-responsive-lg">
  <table class="table">
    <thead>
      <tr>
        <th>Resolved</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    {% for magnet in magnets %}
    <tr>
      <td class="py-3">{{ magnet.resolved }}</td>
      <td class="is-left" align="left">{{ magnet.name }}</td>
      <td>
        {% if magnet.resolved %}
          <!-- TODO: mettre le lien vers la page des d'import d'un torrent -->
          <a href="#" class="btn btn-success">
            Importer le torrent
          </a>
        {% else %}
          <i class="fa fa-spinner fa-pulse me-2"></i>
          En cours de résolution
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock main %}
