<nav class="navbar fa-2x" role="navigation" aria-label="main navigation" style="max-width: 900px; margin: auto; justify-content: center; height: 6rem;">
  <div class="navbar-menu" style="flex-grow: 0;">
    <a class="navbar-item" href="/progress">
      <span class="icon-text">
        <span class="icon"><i class="fa fa-spinner"></i></span><span>Progress</span>
      </span>
    </a>
    <a class="navbar-item" href="/logs">
      <span class="icon-text">
        <span class="icon"><i class="fa fa-file-text-o"></i></span><span>Logs</span>
      </span>
    </a>
  </div>
</nav>
