<nav class="navbar fa-2x" role="navigation" aria-label="main navigation" style="max-width: 900px; margin: auto; justify-content: center; height: 6rem;">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/torrentmanager_flat.png" style="height: 100%; max-height: 2em;">
    </a>
  </div>
  <div class="navbar-menu" style="flex-grow: 0;">
    <a class="navbar-item" href="/collections">
      <span class="icon-text">
        <span class="icon"><i class="fa fa-dropbox"></i></span><span>Collections</span>
      </span>
    </a>
    <a class="navbar-item" href="/chores">
      <span class="icon-text">
        <span class="icon"><i class="fa fa-medkit"></i></span><span>Chores</span>
      </span>
    </a>
    <a class="navbar-item" href="/upload">
      <span class="icon-text">
        <span class="icon"><i class="fa fa-plus-square"></i></span><span>Upload</span>
      </span>
    </a>
  </div>
</nav>
