<div class="filters d-flex align-items-center gap-3 flex-wrap">
  <a class="filter-item {% if filter.is_filter(TorrentListFilter::Everything) %}filter-item--active{% endif %}" href="/progress/everything">
    <span>All ({{ torrent_list.counter.everything }})</span>
  </a>

  <a class="filter-item {% if filter.is_filter(TorrentListFilter::Ok) %}filter-item--active{% endif %}" href="/progress/ok">
    <span>Ok ({{ torrent_list.counter.ok }})</span>
  </a>

  <a class="filter-item {% if filter.is_filter(TorrentListFilter::Ongoing) %}filter-item--active{% endif %}" href="/progress/ongoing">
    <span>Ongoing ({{ torrent_list.counter.ongoing }})</span>
  </a>

  <a class="filter-item {% if filter.is_filter(TorrentListFilter::Stuck) %}filter-item--active{% endif %}" href="/progress/stuck">
    <span>Stuck ({{ torrent_list.counter.stuck }})</span>
  </a>

  <a class="filter-item {% if filter.is_filter(TorrentListFilter::Unmanaged) %}filter-item--active{% endif %}" href="/progress/unmanaged">
    <span>Unmanaged ({{ torrent_list.counter.unmanaged }})</span>
  </a>
</div>

