<form method="POST" action="/categories" accept-charset="utf-8">
  <div class="form-group">
    <label for="collection" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Ex: Movies" name="name" id="name"{# TODO {% if post.name %} value="{{ post.name }}"{% endif %}#}>
  </div>
  <div class="form-group mt-3">
    <label for="collection" class="form-label">Path</label>
    <input type="text" class="form-control" placeholder="Ex: /mnt/MyBigHdd/DATA" name="path" id="path"{# TODO {% if post.name %} value="{{ post.name }}"{% endif %}#}>
  </div>

  <div class="text-center mt-4">
    <input type="Submit" class="btn btn-success" value="Create category">
  </div>
</form>

