{% extends "base.html" %}

{% block main %}
  <div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
      <h1>Create Category</h1>
      <a href="/categories" class="btn btn-dark">Back to list</a>
    </div>

    <div class="card mt-4">
      <div class="card-body">
        {% if let Some(error) = error %}
          <div class="alert alert-danger mb-4">
            <p class="mb-0">{{ error }}</p>
          </div>
        {% endif %}

        {% include "categories/form.html" %}
      </div>
    </div>
  </div>
{% endblock %}
