                        <div class="column is-one-third box" style="margin-bottom: 1.5rem; border: solid 1px black;">
							<h2 class="title" style="text-align: center;">TORRENT</h2>
							<div class="columns is-vcentered is-centered">
								<div class="column is-half">
									 <input type="file" id="torrent" name="torrent">
								</div>
								<div class="column is-one-quarter">
									<img src="/assets/images/torrent.png" class="image is-64x64">
								</div>
							</div>
						</div>
